body {
    color: #000;
    padding: 0 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1
}
.accordions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 75vw;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5)
}

.accordion {
    color: blue;
    padding: 0 1%;
    width: 95%;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.accordion:nth-child(1){
    border-top:none;
}
.label-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.accordion-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
.label-icon {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 5%;
    opacity: 0;
    transition: all .5s
}
.img {
    display: block;
    width: 70%;
    transition: all .5s;
}
.accordion-content {
    max-height: 0em;
    color:blue;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: center;
    transition: all .5s
}
.error-meme {
    background-image: url('../img/Error.jpg');
}
.programming-meme {
    background-image: url('../img/programming.jpg');
}
.js-meme {
    background-image: url('../img/JavaScript.jpg');
}
.kids-meme {
    background-image: url('../img/kids.webp');
}
input:checked~.label-wrapper {
    color:black;
}

input:checked~.accordion-label .label-wrapper .label-icon {
    transform: rotate(45deg);
    transition: all .5s
}

input:checked~.accordion-label .accordion-content {
    padding: 10em 0;
}
input:checked~.accordion-label{
    color:#000;
}

@media (max-width: 1920px){
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 3.6rem;
    }
    .accordions:hover .label-wrapper .label-icon {
        opacity: 1;
    }
    .accordions:hover .accordion {
        color:#000;
    }
    .accordion:hover .accordion-content {
        padding: 9em 0;
    }
    .accordion:hover .label-wrapper .label-icon{
        transform: rotate(45deg);
        transition: all .5s
    }
    input:checked~.accordion-label .accordion-content {
        padding: 9em 0;
    }
}
@media (max-width: 1180px){
    body {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 8em 0;
    }
    .accordion-label {
        cursor:auto;
    }
    .label-icon {
        opacity: 1;
        width: 6%;
    }
    .accordion {
        color:#000;
    }
    .accordions:hover .label-wrapper .label-icon {
        opacity: 1;
    }
    .accordions:hover .accordion {
        color:#000;
    }
    .accordion:hover .accordion-content {
        padding: 0 0;
    }
    .accordion:hover .label-wrapper .label-icon{
        transform: rotate(0deg);
    }
}
@media (max-width: 819px){
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 7em 0;
    }
    .label-icon {
        width: 7%;
    }
}
@media (max-width: 568px){
    body {
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 6em 0;
    }
    .label-icon {
        width: 9%;
    }
}





