body {
    color: #000;
    padding: 0 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
header {
    min-width: 75vw;
}

h1 {
    margin: 0 2%;
    line-height: 2;
    text-align: left;
    font-size: 3.2rem;
    align-self: flex-start;
}

input {
    display: none;
}
.accordions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 75vw;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, .5)
}

.accordion {
    color: blue;
    padding: 0 1%;
    width: 95%;
    border-top: 0.15em solid rgba(0, 0, 0, 0.5);
}
.accordion:nth-child(1){
    border-top:none;
}
.label-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.accordion-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
.label-icon {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 5%;
    opacity: 0;
    transition: all .5s
}
.accordion-content {
    max-height: 0em;
    color:blue;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: center;
    transition: all .5s
}
.accordions:hover .label-wrapper .label-icon {
    opacity: 1;
}
.accordions:hover .accordion {
    color:#000;
}
.accordion:hover .accordion-content {
    padding: 10em 0;
}
.accordion:hover .label-wrapper .label-icon{
    transform: rotate(45deg);
    transition: all .5s
}
.accordion-label:active{
    color:blue;
}
.accordion-label:active{
    color:blue;
}
.error-meme {
    background-image: url('../img/Error.jpg');
}
.programming-meme {
    background-image: url('../img/programming.jpg');
}
.js-meme {
    background-image: url('../img/JavaScript.jpg');
}
.kids-meme {
    background-image: url('../img/kids.webp');
}
input:checked~.label-wrapper {
    color:black;
}

input:checked~.accordion-label .label-wrapper .label-icon {
    transform: rotate(45deg);
    transition: all .5s
}

input:checked~.accordion-label .accordion-content {
    padding: 10em 0;
}
input:checked~.accordion-label{
    color:#000;
}
@media (max-width: 1440px){
    body {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 2.8rem;
    }
    .accordion:hover .accordion-content {
        padding: 8em 0;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 8em 0;
    }
}
@media (max-width: 991px){
    body {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2.4rem;
    }
    .label-icon{
        opacity: 1;
    }
    .accordion {
        color:#000;
    }
    .accordion:hover .accordion-content {
        padding: 0 0;
    }
    .accordion:hover .label-wrapper .label-icon{
        transform: none;
    }
    .accordions:hover .accordion {
        color:inherit;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 7em 0;
    }
    .label-icon {
        width: 6%;
    }
    .accordion-label {
        cursor:auto;
    }
}
@media (max-width: 575px){
    body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 2rem;
    }
    input:checked~.accordion-label .accordion-content {
        padding: 5.5em 0;
    }
    .label-icon {
        width: 12%;
    }
}